body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("best_bg_ever.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; 
}

.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 24px;
  margin-bottom: 40px;
  color: #eaeaea
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
  margin-bottom: 50px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}

.grid div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 24px;
}

.correct {
  background-color: green;
  color: white;
}

.present {
  background-color: yellow;
  color: black;
}

.absent {
  background-color: red;
  color: white;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

h1 {
  font-size: 65px;
  margin-bottom: 1px;
  height: 150px;
  color:aliceblue;
}

p {
  font-size: 18px;
  color: aliceblue;
}